



body {
	background-color: #000000;
	font-size: 100%
	
}

#title {
	color: white;
	font-size: 1.5em;
	font-family: sans-serif;
	margin-left: 10%;
	margin: .5em;
	padding: .1em;
	border-radius: 5%;
	background-image: url("00240_green_1920x1200.jpg")
}

#mainColumn {
	margin: 0 auto;
	width: 90%;
	
}
#nav {
	width: 20%;
	float: right;
	background-color: #66ABA6;
	padding: 0 .25em;
	border-radius: 5%;

}
#nav h2{
	font-size:1em;
}
#content {
	float: left;
	width: 75%;
	background-color: #642F4B;
	padding: 1em;
	color: white;
	font-family: 'Raleway', sans-serif;
	border-radius: 5%;
	
}
#illustration {
	text-align: center;
	float: right;
}




